<%- include('partials/_header.ejs') %>

<div class="container">

    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-title offset-md-3 mt-4"><h1>Chage data</h1></div>
                <div class="card-body">
                    <form action="/edit/<%= task._id %>"  method="POST">
                        <div class="form-group">
                            <input type="text" name="Address" value="<%= task.Address %> " placeholder="Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="City" value="<%= task.City %>" placeholder="City" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Country" value="<%= task.Country %>" placeholder="Country" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="District" value="<%= task.District %>" placeholder="District" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="First_Name" value="<%= task.First_Name %>" placeholder="First Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Last_Name" value="<%= task.Last_Name %>" placeholder="Last Name" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </form>
                </div>
            </div>

    </div>
</div>

<%- include('partials/_footer') %>